@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

#__next,
:root {
  @apply h-full;
}

a {
  @apply text-inherit no-underline;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full;
}
